@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'base/media';

body {font-family: "Museo Sans";}
h1,h2,h3,h4,h5,h6 {margin: 0;}

.container {
    max-width: 950px;
    margin: 0 auto;
}